*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#navTitle{
    float: left;
}
#navbar{
    display: flex;
    float: right;
}
#navbar ul{
    display: flex;
    list-style: none;
}
#navbar a{
    text-decoration: none;
}
.section1{
    margin-top: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
